.gradient-border {
    position: relative;
    padding: 5px;
    background: black;
    border-radius: 5px;
    z-index: 1;
}

.gradient-border::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    z-index: -1;
    background: linear-gradient(45deg, red, black, green, blue);
    border-radius: inherit;
    padding: 3px;
}